.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inside {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 30px;
}